@font-face {
  font-family: 'kufi';
  src: url('kufi/kufi.eot?#iefix') format('embedded-opentype'),  
		url('kufi/kufi.woff') format('woff'), 
		url('kufi/kufi.ttf')  format('truetype'),		
		url('kufi/kufi.svg#DroidArabicKufi') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    direction: rtl;
    text-align: right;
	font-family:'kufi', sans-serif !important;
}

.main-banner-content h1{font-size:38px !important;}
.main-banner-content p{color:#fff;}

.section-title h2{font-size:30px !important;}
.single-categories-listing-item h3{font-size:20px !important;}
.language-switcher > .dropdown-menu{width:230px;}

.current, .listing-badge{font-size:12px; font-family:'kufi', sans-serif !important;}

h1, h2, h3, h4, h5, h6{font-family:'kufi', sans-serif !important;}

.main-search-btn button,  .listing-filter-options p{font-family:'kufi', sans-serif !important;}

.owl-carousel{direction:ltr !important;}

.profile_text{text-align:right;}
.tabs li span{font-size:13px !important;}
.form-group label {color:#000 !important;}
.form-group option{color:#000 !important;}

.form-group select{color:#000 !important;}

.myfloat_left{float:left;}
.myfloat_right{float:right;}

.my_list{list-style:none; margin:0 -35px 0 0;}
.my_list li{ line-height:30px !important; margin:0 0 20px 0;}

.my_list2{text-align:right; list-style:none;}
.my_list2 li{margin:0 -25px 20px 0;}
.my_list2 li strong{color:#3e83a1;}

.single-feedback-item .info::before {background-image: url(../../assets/img/arrow3.png) !important;}

/*Mobile Devices.*/		
@media all and (max-width: 480px) and (min-width: 320px){
.myfloat_left{float:none !important; text-align:center !important;}
.myfloat_right{float:none !important; text-align:center !important;}

.mobi_hide{display:none !important;}

.main-search-btn{width:100% !important;}
.listing-meta ul li{padding:0 5px !important;}
.header-top-menu ul li::before{border:none;}
.main-banner-content h1{font-size:20px !important;}
.header-contact-info li::before, .header-top-menu li::before{display:none;}
}

.navbar-brand {
    margin-right: 0;
}
.header-top-menu {
    text-align: left;
    padding-right: 0;
}
.header-top-menu li {
    margin-left: 25px;
    margin-right: 0;
}
.header-top-menu li:last-child {
    margin-left: 0;
}
.header-top-menu li::before {
    left: -15px;
    right: auto;
}
.header-top-menu li a {
    padding-right: 22px;
    padding-left: 0;
}
.header-top-menu li i {
    right: 0;
    left: auto;
}
.header-contact-info {
    padding-right: 0;
    text-align: right;
}
.header-contact-info li {
    margin-left: 25px;
    margin-right: 0;
}
.header-contact-info li:last-child {
    margin-left: 0;
}
.header-contact-info li .language-switcher .dropdown-toggle span {
    margin-right: 5px;
    margin-left: 0;
}
.header-contact-info li::before {
    left: -15px;
    right: auto;
}
element.style {
    right: 0px;
    left: auto;
}
.header-contact-info li .language-switcher .dropdown-menu .dropdown-item span {
    margin-right: 7px;
    margin-left: 0;
}
.header-contact-info li .language-switcher .dropdown-toggle span i {
    margin-right: -3px;
    margin-left: 0;
}
.braike-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-right: 0;
    margin-left: 13px;
}
.braike-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-left: 0;
    margin-right: 13px;
}
.braike-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
}
.braike-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: -250px;
    left: auto;
}
.braike-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    left: 10px;
    right: auto;
}
.braike-nav .navbar ul {
    padding-right: 0;
}
.braike-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title::before {
    right: 0;
    left: auto;
}
.braike-nav .navbar .others-option .option-item {
    margin-right: 15px;
    margin-left: 0;
}
.braike-nav .navbar .others-option .option-item:first-child {
    margin-right: 0;
}
.shoppingCartModal.modal.right.fade.show .modal-dialog {
    left: 0;
    right: auto;
}
.shoppingCartModal.modal.right.fade .modal-dialog {
    left: -420px;
    right: auto;
}
.shoppingCartModal .close {
    left: 15px;
    right: auto;
}
.shoppingCartModal .modal-content .modal-body .products-cart-content .products-cart {
    padding-right: 70px;
    padding-left: 0;
}
.shoppingCartModal .modal-content .modal-body .products-cart-content .products-cart .products-image {
    right: 0;
    left: auto;
}
.shoppingCartModal .modal-content .modal-body .products-cart-content .products-cart .products-content .remove-btn {
    left: 0;
    right: auto;
}
.search-overlay .search-overlay-form form button {
    left: 5px;
    right: auto;
}
.search-overlay .search-overlay-form form .input-search {
    padding-right: 20px;
    padding-left: 0;
}
.search-overlay .search-overlay-close {
    left: 40px;
    right: auto;
}
.main-search-wrap form {
    padding-right: 0;
    padding-left: 165px;
}
.main-search-wrap form .main-search-btn {
    left: 0;
    right: auto;
}
.main-search-wrap form .form-group input {
    padding: 0 28px 0 0;
    border-right: none;
}
.main-search-wrap form .form-group label {
    right: 0;
    left: auto;
    top: 8px;
}
.main-search-wrap form .form-group .nice-select {
    border-left: 1px solid #eeeeee;
    border-right: none;
    padding-right: 29px;
    padding-left: 20px;
    text-align: right !important;
}
.main-search-wrap form .form-group .nice-select::after {
    left: 15px;
    right: auto;
}
.main-search-wrap form .form-group .nice-select .list .option {
    text-align: right;
}
.main-search-wrap form .main-search-btn button {
    padding: 13px 25px 13px 55px;
    text-align: right;
}
.main-search-wrap form .main-search-btn button i {
    left: 25px;
    right: auto;
}
.main-categories-box ul {
    padding-right: 0;
}
.single-listing-box .listing-badge {
    padding-right: 14px;
    padding-left: 0;
    left: 0;
    right: auto;
}
.single-listing-box .listing-badge::before {
    left: 0;
    right: auto;
    border-left: 9px solid transparent;
    border-right: none;
}
.single-listing-box {
    padding-left: 8px;
    padding-right: 0;
}
.single-listing-box .listing-content .footer-content .listing-option-list a {
    margin-left: 3px;
    margin-right: 0;
}
.single-listing-box .listing-content .footer-content .listing-option-list a:last-child {
    margin-left: 0;
}
.single-listing-box .listing-content .content .rating {
    left: 0;
    right: auto;
    text-align: left;
}
.single-listing-box .listing-content .content .location {
    padding-right: 19px;
    padding-left: 0;
}
.single-listing-box .listing-content .content .location i {
    right: 0;
    left: auto;
}
.single-listing-box .listing-content .content .author span {
    margin-right: 8px;
    margin-left: 0;
}
.single-listing-box .listing-content .footer-content .listing-category a {
    padding-right: 26px;
    padding-left: 0;
}
.single-listing-box .listing-content .footer-content .listing-category a i {
    right: 0;
    left: auto;
}
.single-destinations-box .listing-count {
    left: 20px;
    right: auto;
}
.single-process-box .content .number {
    right: 25px;
    left: auto;
}
.single-listing-item .listing-badge {
    left: 20px;
    right: auto;
}
.single-listing-item .listing-image .listing-rating {
    right: 20px;
    left: auto;
}
.single-listing-item .listing-image .listing-tag {
    left: 20px;
    right: auto;
}
.mr-2, .mx-2 {
    margin-left: .5rem!important;
    margin-right: 0 !important;
}
.single-listing-item .listing-content .listing-author span {
    margin-right: 3px;
    margin-left: 0;
}
.single-listing-item .listing-image .listing-rating .rating-total {
    margin-right: 2px;
    margin-left: 0;
}
.single-listing-item .listing-discount {
    right: 20px;
    left: auto;
}
.single-listing-item .listing-content .location {
    padding-right: 18px;
    padding-left: 0;
}
.single-listing-item .listing-content .location i {
    right: 0;
    left: auto;
}
.single-listing-item .listing-box-footer .listing-option-list a {
    margin-left: 3px;
    margin-right: 0;
}
.single-listing-item .listing-box-footer .listing-option-list a:last-child {
    margin-left: 0;
}
.single-feedback-item {
    text-align: right;
}
.single-feedback-item .info {
    text-align: left;
    padding-left: 118px;
    padding-right: 0;
}
.single-feedback-item .info img {
    left: 0;
    right: auto;
}
.single-feedback-item .info::before {
    left: 320px;
    right: auto;
}
.app-download-content .btn-box .apple-store-btn {
    margin-left: 8px;
    margin-right: 0;
    padding: 12px 74px 12px 25px;
}
.app-download-content .btn-box .apple-store-btn img {
    right: 25px;
    left: auto;
}
.app-download-content .btn-box .play-store-btn {
    padding: 12px 74px 12px 25px;
}
.app-download-content .btn-box .play-store-btn img {
    right: 25px;
    left: auto;
}
.single-footer-widget .social-link {
    padding-right: 0;
}
.single-footer-widget .footer-newsletter-box .newsletter-form .input-newsletter {
    padding-right: 10px;
    padding-left: 0;
}
.single-footer-widget h3::before {
    right: 0;
    left: auto;
}
.single-footer-widget .customer-support {
    padding-right: 0;
}
.single-footer-widget .quick-links {
    padding-right: 0;
}
.single-footer-widget .about-the-store .footer-contact-info {
    padding-right: 0;
}
.single-footer-widget .about-the-store .footer-contact-info li {
    padding-right: 25px;
    padding-left: 0;
}
.single-footer-widget .about-the-store .footer-contact-info li i {
    right: 0;
    left: auto;
}
.single-footer-widget .social-link li {
    margin-left: 3px;
    margin-right: 0;
}
.single-footer-widget .social-link li:last-child {
    margin-left: 0;
}
.single-footer-widget .quick-links li a::before {
    right: 0;
    left: auto;
}
.single-footer-widget .customer-support li a::before {
    right: 0;
    left: auto;
}
.footer-bottom-area ul {
    padding-right: 0;
    text-align: left;
}
.footer-bottom-area ul li {
    margin-right: 18px;
    margin-left: 0;
}
.footer-bottom-area ul li:first-child {
    margin-right: 0;
}
.footer-bottom-area ul li::before {
    right: -11px;
    left: auto;
}
.go-top {
    left: 15px;
    right: auto;
}
.navbar-area.navbar-style-two .braike-nav .navbar .navbar-nav {
    margin-right: auto;
    margin-left: 25px;
}
.banner-wrapper-content form button {
    left: 5px;
    right: auto;
}
.banner-wrapper-content form .input-search {
    padding-right: 20px;
    padding-left: 0;
}
.text-left {
    text-align: right !important;
}
.section-title.text-left .section-title-btn {
    left: 0;
    right: auto;
}
.single-blog-post .post-content .details-btn::before {
    right: 0;
    left: auto;
}
.single-blog-post:hover .post-image .date {
    left: 0;
    right: auto;
}
.single-blog-post .post-image .date {
    left: -100%;
    right: auto;
}
.single-footer-widget .about-the-store .footer-contact-info li a::before {
    right: 0;
    left: auto;
}
.footer-bottom-area p a::before {
    right: 0;
    left: auto;
}
.banner-listing-category ul {
    padding-right: 0;
}
.wrapper-content form {
    margin-left: 50px;
    margin-right: 0;
}
.wrapper-content form button {
    left: 5px;
    right: auto;
}
.wrapper-content form .input-search {
    padding-right: 20px;
    padding-left: 0;
}
.listing-topbar .topbar-ordering-and-categories .topbar-categories .nice-select {
    text-align: right !important;
}
.listing-topbar .topbar-ordering-and-categories .topbar-categories .nice-select::after {
    left: 15px;
    right: auto;
}
.listing-topbar .topbar-ordering-and-categories .topbar-categories .nice-select .list .option {
    text-align: right;
}
.listing-topbar .topbar-ordering-and-categories .topbar-ordering .nice-select {
    text-align: right !important;
}
.listing-topbar .topbar-ordering-and-categories .topbar-ordering .nice-select::after {
    left: 15px;
    right: auto;
}
.listing-topbar .topbar-ordering-and-categories .topbar-ordering .nice-select .list .option {
    text-align: right;
}
.single-listing-item .listing-content .phone-number {
    padding-right: 18px;
    padding-left: 0;
}
.single-listing-item .listing-content .phone-number i {
    right: 0;
    left: auto;
}
.single-listing-item .listing-content .email {
    padding-right: 18px;
    padding-left: 0;
}
.single-listing-item .listing-content .email i {
    right: 0;
    left: auto;
}
.listing-list-tab .tabs li:last-child {
    margin-left: 0;
}
.listing-list-tab .tabs li:first-child {
    margin-right: 0;
}
.listing-widget-area .listing-widget .listing-widget-title::before {
    right: 0;
    left: auto;
}
.listing-widget-area .filter-list-widget .selected-filters-wrap-list ul {
    padding-right: 0;
}
.listing-widget-area .filter-list-widget .selected-filters-wrap-list ul li a {
    padding-right: 28px;
    padding-left: 0;
}
.listing-widget-area .filter-list-widget .selected-filters-wrap-list ul li a i {
    right: 0;
    left: auto;
}
.listing-widget-area .facilities-list-widget .facilities-list-row {
    padding-right: 0;
}
.listing-widget-area .facilities-list-widget .facilities-list-row li a {
    padding-right: 22px;
    padding-left: 0;
}
.listing-widget-area .facilities-list-widget .facilities-list-row li a::before {
    right: 0;
    left: auto;
}
.listing-widget-area .categories-list-widget .categories-list-row {
    padding-right: 0;
}
.listing-widget-area .categories-list-widget .categories-list-row li a {
    padding-right: 22px;
    padding-left: 0;
}
.listing-widget-area .categories-list-widget .categories-list-row li a::before {
    right: 0;
    left: auto;
}
.listing-filter-options .listing-ordering-list .nice-select {
    text-align: right !important;
}
.listing-filter-options .listing-ordering-list .nice-select::after {
    left: 2px;
    right: auto;
}
.listing-filter-options .listing-ordering-list .nice-select .list .option {
    text-align: right;
}
.listing-details-header .listing-price .price {
    margin-left: 15px;
    margin-right: 0;
}
.listing-details-header .listing-price .listing-review .reviews-total {
    margin-right: 3px;
    margin-left: 0;
}
.listing-details-header .listing-meta ul {
    padding-right: 0;
}
.listing-details-header .listing-meta ul li {
    margin-left: 20px;
    margin-right: 0;
    border-left: 1px solid #eeeeee;
    border-right: none;
    padding-left: 20px;
    padding-right: 37px;
}
.listing-details-header .listing-meta ul li:last-child {
    padding-right: 40px;
    margin-left: 0;
    border-left: none;
    padding-left: 0;
}
.listing-details-header .listing-meta ul li i {
    right: 0;
    left: auto;
}
.listing-sidebar-widget .listing-opening-hours ul {
    padding-right: 0;
}
.listing-sidebar-widget .listing-opening-hours ul li span {
    text-align: right;
    float: right;
}
.listing-sidebar-widget .listing-opening-hours ul li {
    text-align: left;
}
.listing-sidebar-widget h3::before {
    right: 0;
    left: auto;
}
.listing-sidebar-widget .listing-contact-info ul {
    padding-right: 0;
}
.listing-sidebar-widget .listing-instagram ul {
    padding-right: 0;
}
.listing-details-desc .description-features-list {
    padding-right: 15px;
    padding-left: 0;
}
.listing-details-desc .description-features-list li {
    padding-right: 17px;
    padding-left: 0;
}
.listing-details-desc .description-features-list li::before {
    right: 0;
    left: auto;
}
.listing-details-desc .amenities-list ul {
    padding-right: 0;
}
.listing-details-desc .amenities-list ul li span {
    padding-right: 27px;
    padding-left: 0;
}
.listing-details-desc .amenities-list ul li span i {
    right: 0;
    left: auto;
}
.listing-review-comments .user-review {
    padding: 20px 110px 20px 20px;
}
.listing-review-comments .user-review img {
    right: 0;
    left: auto;
}
.listing-review-comments .user-review .review-rating span {
    margin-right: 5px;
    margin-left: 0;
}
.single-products-box .products-content .star-rating {
    left: 0;
    right: auto;
}
.single-products-box .products-content .add-to-cart {
    right: 0;
    left: auto;
    transform: translateX(-20px);
}
.single-products-box .products-image .sale-tag {
    right: 20px;
    left: auto;
}
.single-products-box .products-image .new-tag {
    right: 20px;
    left: auto;
}
.cart-table table tbody tr td.product-subtotal .remove {
    float: left;
}
.text-right {
    text-align: left !important;
}
.cart-totals ul {
    padding-right: 0;
}
.cart-totals ul li span {
    float: left;
}
.order-details .title::before {
    right: 0;
    left: auto;
}
.billing-details .title::before {
    right: 0;
    left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label {
    padding-right: 27px;
    padding-left: 0;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::before, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::before {
    right: 0;
    left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::after, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::after {
    right: 3px;
    left: auto;
}
.form-control {
    padding: 0 15px 0 0;
}
.form-check {
    padding-right: 1.25rem;
    padding-left: 0;
}
.billing-details .form-check label {
    right: -3px;
    left: auto;
}
.form-check-input {
    margin-right: -1.25rem;
    margin-left: 0;
}
.billing-details .form-group .nice-select {
    text-align: right !important;
}
.billing-details .form-group .nice-select:after {
    left: 20px;
    right: auto;
}
.billing-details .form-group .nice-select .list .option {
    text-align: right;
}
.products-details-desc .products-info {
    padding-right: 0;
}
.products-details-desc .products-review .rating {
    padding-left: 5px;
    margin-right: 0;
}
.products-details-desc .products-info-btn a {
    padding-right: 22px;
    padding-left: 0;
}
.products-details-desc .products-info-btn a i {
    right: 0;
    left: auto;
}
.products-details-desc .products-add-to-cart .input-counter {
    margin-left: 10px;
    margin-right: 0;
}
.products-details-desc .buy-checkbox-btn .cbx span:last-child {
    padding-right: 4px;
    padding-left: 0;
    top: 0;
}
.products-details-desc .products-details-accordion .accordion {
    padding-right: 0;
}
.products-details-desc .products-details-accordion .accordion .accordion-title {
    padding-left: 15px;
    padding-right: 41px;
}
.products-details-desc .products-details-accordion .accordion .accordion-title i {
    right: 15px;
    left: auto;
}
.products-details-desc .products-details-accordion .accordion .accordion-content .products-review-form .review-title .default-btn {
    left: 0;
    right: auto;
}
.products-details-desc .products-details-accordion .accordion .accordion-content .products-review-form .review-title p {
    padding-right: 5px;
    padding-left: 0;
}
.widget-area .widget_search form button {
    left: 5px;
    right: auto;
}
.widget-area .widget_search form .search-field {
    padding: 0 15px 0 0;
}
.widget-area .widget .widget-title::before {
    right: 0;
    left: auto;
}
.widget-area .widget_braike_posts_thumb .item .thumb {
    float: right;;
    margin-left: 15px;
    margin-right: 0;
}
.widget-area .widget_categories ul {
    padding-right: 0;
}
.widget-area .widget_categories ul li {
    padding-right: 18px;
    padding-left: 0;
}
.widget-area .widget_categories ul li::before {
    right: 0;
    left: auto;
}
.widget-area .widget_instagram ul {
    padding-right: 0;
}
.blog-details-desc .article-content .entry-meta ul {
    padding-right: 0;
}
.blog-details-desc .article-content .entry-meta ul li {
    margin-left: 20px;
    margin-right: 0;
    border-left: 1px solid #eeeeee;
    border-right: none;
    padding-left: 20px;
    padding-right: 45px;
}
.blog-details-desc .article-content .entry-meta ul li i {
    right: 0;
    left: auto;
}
.blog-details-desc .article-content .entry-meta ul li:last-child {
    padding-right: 45px;
    margin-left: 0;
    border-left: none;
}
blockquote::before, .blockquote::before {
    right: 50px;
    left: auto;
}
blockquote::after, .blockquote::after {
    right: 0;
    left: auto;
}
.blog-details-desc .article-content .wp-block-gallery.columns-3 {
    padding-right: 0;
}
.blog-details-desc .article-content .features-list {
    padding-right: 0;
}
.blog-details-desc .article-content .features-list li {
    padding-right: 26px;
    padding-left: 0;
}
.blog-details-desc .article-content .features-list li i {
    right: 0;
    left: auto;
}
.blog-details-desc .article-footer .article-tags span {
    margin-left: 3px;
    margin-right: 0;
}
.blog-details-desc .article-footer .article-share .social {
    padding-right: 0;
    text-align: left;
}
.blog-details-desc .article-footer .article-share .social li span {
    margin-left: 3px;
    margin-right: 0;
}
.prev-link-wrapper .image-prev {
    margin-left: 20px;
    margin-right: 0;
}
.next-link-wrapper .image-next {
    margin-right: 20px;
    margin-left: 0;
}
.next-link-wrapper .next-link-info-wrapper {
    text-align: left;
}
.comments-area .comment-body {
    padding-right: 65px;
    padding-left: 0;
}
.comments-area .comment-author .avatar {
    right: -65px;
    left: auto;
}
.comments-area .children {
    margin-right: 20px;
    margin-left: 0;
}
.comments-area .comment-respond input[type="date"], .comments-area .comment-respond input[type="time"], .comments-area .comment-respond input[type="datetime-local"], .comments-area .comment-respond input[type="week"], .comments-area .comment-respond input[type="month"], .comments-area .comment-respond input[type="text"], .comments-area .comment-respond input[type="email"], .comments-area .comment-respond input[type="url"], .comments-area .comment-respond input[type="password"], .comments-area .comment-respond input[type="search"], .comments-area .comment-respond input[type="tel"], .comments-area .comment-respond input[type="number"], .comments-area .comment-respond textarea {
    padding: 0 15px 0 0;
}
.comments-area .comment-respond .comment-form-cookies-consent {
    padding-right: 20px;
    padding-left: 0;
}
.comments-area .comment-respond .comment-form-cookies-consent input {
    right: 0;
    left: auto;
}
.contact-form form .with-errors ul {
    padding-right: 0;
}
.contact-info .contact-list {
    padding-right: 0;
}
.contact-info .contact-list li {
    padding-right: 25px;
    padding-left: 0;
}
.contact-info .contact-list li i {
    right: 0;
    left: auto;
}
.contact-info .opening-hours {
    padding-right: 0;
}
.contact-info .social {
    padding-right: 0;
}
.contact-info .social li {
    margin-left: 2px;
    margin-right: 0;
}
.contact-info .social li:last-child {
    margin-left: 0;
}
.about-content .features-text h5 {
    padding-right: 47px;
    padding-left: 0;
}
.about-content .features-text i {
    right: 0;
    left: auto;
}
.about-image {
    padding-left: 100px;
    padding-right: 0;
}
.about-image img:nth-child(2) {
    left: 10px;
    right: auto;
}
.about-text h3::before {
    right: 0;
    left: auto;
}
.about-text .features-list {
    padding-right: 0;
}
.about-text .features-list li {
    padding-right: 30px;
    padding-left: 0;
}
.about-text .features-list li i {
    right: 0;
    left: auto;
}
.single-team-member .member-image .social {
    padding-right: 0;
}
.single-funfacts {
    padding-right: 70px;
    padding-left: 0;
}
.single-funfacts i {
    right: 0;
    left: auto;
}
.faq-accordion-tab .tabs {
    padding-right: 0;
}
.faq-accordion .accordion .accordion-title {
    padding: 20px 60px 17px 25px;
}
.faq-accordion .accordion .accordion-title i {
    right: 25px;
    left: auto;
}
.faq-accordion .accordion .accordion-content {
    padding-left: 25px;
    padding-right: 60px;
}
.faq-accordion .accordion .accordion-content ul {
    padding-right: 0;
}
.faq-accordion .accordion .accordion-content ul li {
    padding-right: 15px;
    padding-left: 0;
}
.faq-accordion .accordion .accordion-content ul li::before {
    right: 0;
    left: auto;
}
.faq-accordion .accordion {
    padding-right: 0;
}
.coming-soon-content form .form-group .input-newsletter {
    padding: 0 32px 0 0;
}
.coming-soon-content form .form-group .label-title i {
    right: 0;
    left: auto;
}
.process-arrow-icon {
    right: 155px;
    left: auto;
}

/*
Responsive CSS
============================*/
@media only screen and (max-width: 767px) {
    .header-contact-info {
        text-align: center !important;
    }
    .mean-container a.meanmenu-reveal {
        left: 40px !important;
        right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .banner-listing-category {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .listing-details-header .listing-meta ul li:last-child {
        padding-right: 0 !important;
    }
    .about-image {
        padding-left: 0 !important;
    }
    .single-funfacts {
        padding-right: 0 !important;
    }
    .faq-accordion .accordion .accordion-title {
        padding: 18px 47px 15px 20px !important;
    }
    .faq-accordion .accordion .accordion-title i {
        right: 15px !important;
        left: auto !important;
    }
    .coming-soon-content form .form-group .input-newsletter {
        padding: 0 30px 0 0 !important;
    }
    .blog-details-desc .article-content .entry-meta ul li {
        margin-left: 15px !important;
        padding-left: 15px !important;
        padding-right: 0 !important;
    }
    .blog-details-desc .article-content .entry-meta ul li {
        margin-right: 0 !important;
    }
    .comments-area .comment-body {
        padding-right: 0 !important;
    }
    .comments-area .comment-author .avatar {
        right: 0 !important;
        left: auto !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-contact-info {
        text-align: center !important;
    }
    .mean-container a.meanmenu-reveal {
        left: 0 !important;
        right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .feedback-slides.owl-theme .owl-nav [class*=owl-].owl-next {
        left: auto !important;
        right: 60px !important;
    }
    .feedback-slides.owl-theme .owl-nav [class*=owl-] {
        right: 0 !important;
        left: auto !important;
    }
    .listing-details-header .listing-price {
        text-align: right !important;
    }
    .single-funfacts {
        padding-right: 0 !important;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .header-top-menu li {
        margin-left: 20px !important;
        margin-right: 0 !important;
    } 
}

@media only screen and (min-width: 1824px) {
   
}

@media only screen and (max-width: 567px) {
    .main-search-wrap form {
        padding-right: 0;
        padding-left: 0px;
    }
}

